header {
    display: flex;
    width: 100%;
    height: 293px;
    align-items: center;
    justify-content: space-between;
    border: #1b1919 1px solid;
    background-color: #FFFFFF;
    position: relative;
}

.navbar {
    width: 391.48px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-family: Raleway;
    font-size: 18px;
    justify-content: start;
    margin-left: 50px;
}

.list__nav {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-left: 25px;
    list-style-type: circle;
}

.main__anchor {
    text-decoration: none;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 148px;
    height: 105px;
}

.contacts {
    display: flex;
    width: 240px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    justify-content: end;
    margin-right: 50px;
}

.baner__section {
    background-image: url('../images/cover.jpg');
    background-size: cover;
    height: 757px;
    position: relative;
}

.back-opac {
    position: absolute;
    inset: 0;
    background-color: #1b1919;
    opacity: 0.6;
    z-index: 1;
}

.container {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 100px;
    color: #ffffff;
    letter-spacing: 0.3em;
    z-index: 2;
}

.baner__footer {
    position: absolute;
    left: 50px;
    bottom: 50px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.baner__text {
    width: 637px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 2px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
}

.baner__button {
    background: none;
    font-family: Raleway;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    padding: 11.5px 31.5px;
}

.lots__section {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 963px;
}

.lots__box {
    width: 1052px;
    margin: 180px auto 0;
    display: flex;
    flex-direction: column;
}

.lots__title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.lots {
    display: grid;
    grid-template-columns: repeat(3, 334px);
    gap: 24.5px;
}

.lot {
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

.lot__title {
    width: 254px;
    margin: 48px auto;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #ffffff;
    z-index: 2;
}

.lot__text {
    width: 254px;
    margin: auto 48px 48px 48px;
    display: flex;
    justify-content: flex-end;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    z-index: 2;
}

.first {
    background-image: url('../images/card-lot-01.jpg');
}

.second {
    background-image: url('../images/card-lot-02.jpg');
}

.third {
    background-image: url('../images/card-lot-03.jpg');
}

.about__section {
    height: 835px;
    background-color: #FFFFFF;
}

.about__box {
    width: 1052px;
    margin: 0 auto 180px;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 287px 693px;
    column-gap: 72px;
}

.about__img {
    width: 240px;
    height: 240px;
    margin: 35px 0 320px 47px;
}

.about__block {
    margin-top: 133px;
}

.about__titile {
    font-family: Raleway;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text {
    display: grid;
    grid-template-rows: 120px 168px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    row-gap: 24px;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 180px;
    background-color: #FFFFFF;
}

.contacts__footer {
    margin-left: 50px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
}

.contacts__list {
    list-style: none;
}

.cnt:nth-child(-n+2) {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.anchors {
    justify-self: center;
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.footer__main__anchor,
.footer__lots__anchor,
.footer__about__anchor {
    text-decoration: none;
    display: block;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.icons img {
    width: 48px;
    height: 48px;
}